<div class="kanban-tasklist-taskpanel p-3 mb-3 bg-white rounded shadow-sm">
    <h6 class="fw-bold">
        <a href="{% url 'task-detail' pk=task.uuid %}" class="text-dark text-decoration-none">
            {{ task.title|slice:":45" }}
        </a>
    </h6>
    <p class="text-muted mb-2">
        <small>{{ task.date_created }} | {{ task.author }}</small> <br>
        <small>
            {% if task.description %}
                {{ task.description|slice:":120" }}
                {% if task.description|length > 120 %} ... {% endif %}
            {% else %}
                - ...
            {% endif %}
        </small>
    </p>
    <small>
        <a href="{% url 'task-action-decrease_status' pk=task.uuid %}" class="btn btn-sm btn-outline-secondary">⬅</a>
        <a href="{% url 'task-action-increase_status' pk=task.uuid %}" class="btn btn-sm btn-outline-secondary">➡</a>
        <a href="{% url 'task-action-max_priority' pk=task.uuid%}" class="btn btn-sm btn-success">Top</a>
        <a href="{% url 'task-action-min_priority' pk=task.uuid%}" class="btn btn-sm btn-danger">Bottom</a>
        <a href="{% url 'task-action-increase_priority' pk=task.uuid %}" class="btn btn-sm btn-warning">+</a>
        <a href="{% url 'task-action-decrease_priority' pk=task.uuid %}" class="btn btn-sm btn-warning">-</a>
        <a href="{% url 'task-edit' pk=task.uuid %}" class="btn btn-sm btn-primary">Edit</a>
    </small>
    <hr>
</div>
