<div id="{{ title|slugify }}" class="kanban-tasklist col">
    <div class="p-3 bg-light rounded shadow-sm">
        <h4 class="text-center text-primary">{{ title }}</h4>
        <hr>
        <div class="task-container">
            {% if task_list %}
                {% for task in task_list %}
                    <div id="task-{{ task.id }}" class="kanban-tasklist-taskpanel" data-id="{{ task.id }}">
                        {% include 'kanban/index_task_panel.html' with task=task %}
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-muted text-center">No Tasks Present</p>
            {% endif %}
        </div>
    </div>
</div>
